html {
    height: 100%;
    width: 100%;
    font-family: Garamond, serif;
}

html:not(header) {
    background-color: yellow;
}

body {
    overflow: auto;
    margin: 0;
}

header {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 10em;
}

header select {
    float: right;
    top: 2em;
    position: sticky;
}
/*---------------------------------------------------------------*/
.stil1 {
    color: blue;
    position: fixed;
    margin-left: 5%;
}

.stil2{
    color: deeppink;
    position: fixed;
    margin-left: 5%;
}
/*---------------------------------------------------------------*/
.big-content {
    width: 100%;
    height: 1000vh;
    background: linear-gradient(180deg, #89fa05, #05fa09, #05fab1, #0526fa, #f205fa, #fa0526, #f2fa05);
}

.fixed-title {
    position: fixed;
    margin-left: 50%;
    z-index: 10;
}
/*---------------------------------------------------------------*/

img {
    width: 20vw;
    overflow: hidden;
    flex: 1 0 auto;
    margin: 0.5em;
    text-align: center;
}

/* metoda flex */
#container-poze {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#container-poze > figure {
    width: 20%;
    text-align: center;
    transform: scale(0);
    animation: aparitie 4s forwards;
}

#container-poze > figure:nth-child(1) {
    animation-delay: 1s;
}

#container-poze > figure:nth-child(2) {
    animation-delay: 2s;
}

#container-poze > figure:nth-child(3) {
    animation-delay: 3s;
}

#container-poze > figure:nth-child(4) {
    animation-delay: 4s;
}

#container-poze > figure:nth-child(5) {
    animation-delay: 5s;
}

#container-poze > figure:nth-child(6) {
    animation-delay: 6s;
}

#container-poze > figure:nth-child(7) {
    animation-delay: 7s;
}

#container-poze > figure:nth-child(8) {
    animation-delay: 8s;
}

#container-poze > figure:nth-child(9) {
    animation-delay: 9s;
}

@keyframes aparitie {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}


