* {
    margin: 0;
    padding: 0;
}

.nightmode {

}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    background-color: lightblue;
    padding: 1em;
}

h2 {
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Water+Brush&display=swap');

.email-address:before {
    content: "Adresa explicită de email: ";
}

#grid-news p {
    text-align: justify;
}

footer img {
    display: inline;
    float: right;
    height: 50px;
}

#ping-pong {
    width: 10px;
    height: 10px;
    position: relative;
    border-radius: 50%;
    animation: cercMiscator 5s linear infinite alternate;
}

@keyframes cercMiscator {
    0% {
        background-color: red;
        left: 0;
        top: 0;
    }
    100% {
        background-color: yellow;
        left: 100%;
        top: 0;
    }
}

ul > li {
    font-size: 80%;
}

footer a > img {
    transition: 2s;
}

footer a > img:hover {
    transform: rotate(60deg) scale(1.5);
    opacity: 0.5;
}

.title {
    font-style: italic;
    text-align: center;
    color: darkslateblue;
    font-size: 90%;
    font-family: 'Water Brush', cursive;
}

header {
    margin-top: 2px; /*TODO: de modificat ai sa nu mai fie px*/
    height: 80px;
    line-height: 50px;
    background-color: lightblue;
    text-align: center;
    color: blue;
}

h1::first-letter {
    font-size: 200%;
    font-style: italic;
    color: red;
}

header > img:first-of-type {
    position: fixed;
    right: 0;
    top: 0;
    height: 15%;
    transition: 3s;
    animation: deplasareCarte 15s linear 2s infinite;
}

header > img:nth-of-type(2) {
    position: absolute;
    top: 0.7em;
    left: 1em;
    height: 12%;
}

@keyframes deplasareCarte {
    0% {
        right: 0;
    }
    50% {
        right: 75%;
    }
    100% {
        right: 0;
    }
}

header > img:nth-of-type(1):hover {
    transform: rotate(360deg) scale(0.6);
}

/*--------------------------------------------------------------*/
/*Meniul Drop-Down*/
/*Model preluat din Cursul 3*/

nav {
    height: 2rem;
    width: auto;
    background-color: lightcyan;
    position: sticky;
    top: 0.5em;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    display: block;
    height: 100%;
}

nav ul {
    list-style-type: none;
}

nav > ul.meniu {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

nav > ul.meniu li {
    flex-grow: 1;
    height: 2rem;
    line-height: 2rem;
    background-color: lightcyan;
}

nav > ul.meniu > li > ul.submeniu {
    visibility: hidden;
}

nav > ul.meniu > li:hover > ul.submeniu {
    visibility: visible;
    background-color: lightcyan;
    position: relative;
}

nav > ul.meniu a:hover {
    transition: background-color 3s;
    background-color: lightpink;
    color: white;
}

nav > ul.meniu li {
    transition: background-color 3s;
}

@media (max-width: 600px) {
    nav {
        position: sticky;
        width: fit-content;
        top: 16%;
        display: flex;
        flex-flow: column nowrap;
    }

    .meniu {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
    }

    .submeniu {
        position: relative;
        left: 99%;
        top: -100%;
    }
}

/*--------------------------------------------------------------*/

#grid-pagina {
    display: grid;
    grid-template-areas:
            "home home home"
            "news news scheduale"
            "news news contact"
            "news news notice"
            "presentation history history";
    grid-gap: 15px 15px;
}

#home {
    grid-area: home;
}

#notice ul {
    height: 10%;
    overflow: scroll;
}

#notice img {
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#notice a:link {
    text-decoration: none;
    color: blue;
}

#notice a:visited {
    text-decoration: none;
    color: deeppink;
}


#grid-pagina > #home > p {
    transition: font-size 3s, color 2s, transform 2s;

}

#grid-pagina > #home > p:hover {
    font-size: 200%;
    color: floralwhite;
    transform: skew(30deg);
}

#news {
    grid-area: news;
}

#scheduale {
    grid-area: scheduale;
}

#contact {
    grid-area: contact;
}

#presentation {
    grid-area: presentation;
}

#history {
    grid-area: history;
}

section {
    border: 1px solid black;
}

/*--------------------------------------------------------------*/

#grid-news {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.grid-item:nth-child(1) {
    grid-column: 1/2;
}

.grid-item:nth-child(2) {
    grid-column: 2/3;
}

.grid-item:nth-child(3) {
    grid-column: 1/2;
}

.grid-item:nth-child(4) {
    grid-column: 2/3;
}

.grid-item:nth-child(5) {
    grid-column: 1/2;
}

.grid-item:nth-child(6) {
    grid-column: 2/3;
}

.grid-item:nth-child(7) {
    grid-column: 1/2;
}

.grid-item:nth-child(8) {
    grid-column: 2/3;
}

#news > #grid-news > article > img {
    margin-right: 20px;
    margin-bottom: 5px;
    float: left;
    height: 300px;
    width: auto;
    transition: 1s;
}

#news > #grid-news > article > img:hover {
    transform: scale(1.2, 1.2);
}

article > p {
    clear: both;
    border: 5px solid white;
    font-size: 80%;
}

/*--------------------------------------------------------------*/
/*Tabel responsive*/

table {
    border-collapse: collapse;
    width: 100%;
    height: auto;
    border: 2px solid blueviolet;
}

th, td {
    text-align: left;
    padding: 8px;
}

.ignora {
    background-color: lightblue;
    border-right: 2px solid blueviolet;
}

tr:nth-child(even):not(.ignora) {
    background-color: floralwhite;
}

tr:first-child {
    background-color: cadetblue;
    border-bottom: 2px solid blueviolet;
}

td:hover:not(.ignora) {
    background-color: deeppink;
}

/*--------------------------------------------------------------*/

@media screen and (min-width: 768px) {
    .meniu {
        width: 100%;
    }

    .meniu li {
        display: inline;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 768px) {
    /*.meniu {*/
    /*    width: 25%;*/
    /*    float: left;*/
    /*}*/

    /*.meniu ul {*/
    /*    list-style-type: none;*/
    /*}*/

    /*.meniu li {*/
    /*    margin-top: 10px;*/
    /*    margin-bottom: 10px;*/
    /*}*/
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}


textarea {
    resize: vertical;
}

.hidden,
[hidden] {
    display: none !important;
}


