
    <br/>
    <div id="ping-pong"></div>
    <br/>

    <a href="#inceput" title="Deplasare la începutul paginii"><img src="butterfly.png" alt="butterfly"></a>

    <audio id="sound">
        <source src="infinity.mp3" type="audio/mp3">
    </audio>

    <img src="sol_key.png" alt="casti" onclick="playSound('sound')" title = "Click me and listen">
