<!doctype html>
<html lang="ro">

<head>
    <meta charset="utf-8">
    <title>Logare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="main4.css">
    <script src="main4.js" defer></script>
</head>

<body>
    <main>
          <form action="/account" method="post" enctype="multipart/form-data"=>
            <label>
                Username: <input type="text" name="username" value="username" required/>
            </label>


            <label>
                Parola:
                <input type="password" name="parola" value="test" required/>
            </label>


            <input type="submit" value="Login" />
            <input type="submit" value="Register" formaction="/register"/>

          </form>
        </main>
</body>

</html>
