<!doctype html>
<html lang="ro">

<head>
    <meta charset="utf-8">
    <title>Recenzii</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="main3.css">
    <link rel="stylesheet" type="text/css" href="footerStyle.css">
    <script src="main3.js" defer></script>
    <script src="mainFooter.js" defer></script>
</head>

<body>

    <header>
        <h1>Adaugă o recenzie</h1>
    </header>

    <form method="post" enctype="multipart/form-data">
        <label>Titlu <input type="text" name="titlu" id="titlu" required></label>

        <label>Atașează poză <input type="file" name="img"></label>

        <label>Notă (1 - 10)<input type="range" min="1" max="10" step="1" name="numar" required></label>

        <label>Email <input type="email" name="adresa" required multiple pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"></label>

        <span>
            <label><input type="radio" name="recomandare" value="recomand"> Recomand</label>
            <label><input type="radio" name="recomandare" value="nuRecomand"> Nu recomand</label>
        </span>

        <label>Data achiziționării <input type="date" value="" name = "data"/></label>

        <label for="recenzie">Recenzia dmv. aici: </label>
        <textarea name="recenzie" id="recenzie">Recenzie </textarea>

        <div>
            <button type="reset">Resetare date</button>
            <button type="submit">Trimitere</button>
        </div>
    </form>

    <footer class="nightmode">
        <%- include('footer') %>
    </footer>
</body>

</html>
